:root {
    --violetaOscuro: #6528F7;
    --violetaClaro: #A076F9;
    --violetaPastel: #D7BBF5;
    --blancoLavanda: #EDE4FF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--violetaOscuro);
    width: 100%;
}
header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: var(--violetaOscuro);
    color: white;
    padding: 1rem 2rem 0rem 2rem;
    height: 10em;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor-logo{
    margin-left: 5em;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    height: 2em;
    border-radius: 50%;
}
.nav-links a {
    vertical-align: middle;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 8px;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.search-bar {
    padding: 0.8rem;
    width: 30em;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    color: var(--violetaOscuro);
    border: 0.5px solid #999;
    font-weight: 600;


}
.buscador{
    display: flex;
}
.lupa{
    height: 2.9em;
    width: 3em;
    background-color: var(--violetaClaro);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;

}
.lupa a{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
    
}
.icono-carrito{
    height: 2.9em;
    border-radius: 50%;
}

.lupa-img {
    width: 50%; 
    height: 50%; 
    object-fit: cover; 
}
.categories {
    padding: 0.8rem;
    width: 13em;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    border-radius: 1px;
    border: 0.5px solid #999;
    color: #757575;
    font-weight: 600;

}
.bloque-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    font-weight: 600;
}

.categoria-bloq{
    background-color: var(--violetaClaro);
    display: flex;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 12em;
    height: 3rem;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: black;
}

#seleccionado{
    background-color: var(--blancoLavanda);
    color: var(--violetaOscuro);
}
.section {
    padding: 2rem;
    background-color: var(--blancoLavanda);
    background-size: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}
.section h2 {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--violetaOscuro);
    width: 100%;
}
.banner{
    height: 15em;
    background-image: url(/images/index/banner-fc25.jpg);
    background-size: cover;
    width: 100%;
}


.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%; /* Añadir esta línea */
    gap: 5em;

}
.game-card {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    width: 14em;
    height: auto;
}
.game-card:hover {
    transform: translateY(-5px);
}
.game-card img {
    max-width: 100%;
    height: 80%;
    border-radius: 4px;
}
.game-card a h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
.game-card p {
    color: var(--violetaClaro);
    font-weight: 600;
}
.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer {
    background-color: var(--violetaOscuro);
    color: var(--blancoLavanda);
    font-weight: 600;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}
footer, p, a{
    text-decoration: none;
    color: var(--blancoLavanda);
}
.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.footer-links a {
    color: var(--blancoLavanda);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 0.9rem;
}
.nav-link{
    color: var(--blancoLavanda);
}
.nav-link:hover{
    color: white;
}