:root {
    --violetaOscuro: #6528F7;
    --violetaClaro: #A076F9;
    --violetaPastel: #D7BBF5;
    --blancoLavanda: #EDE4FF;

}
header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 4em;
    background-color: #c5cdd5; 
    color: black; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    text-align: left;
    background-color: #f8f8f8; 
    border-bottom: 1px solid #ddd; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}
nav a{
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-decoration: none;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    height: 1.5em;
    border-radius: 50%;
    margin-left: 10px;
}
.logoVolver {
    font-size: 2rem;
    font-weight: bold;
    height: 0.5em;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--violetaOscuro);
    color: white;
    font-size: 700;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password {
    text-align: center;
    margin-top: 1rem;
}
.forgot-password a {
    color: #1877f2;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.create-account {
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
}
.create-account a {
    display: inline-block;
    padding: 0.75rem 1rem;
    background-color: var(--violetaClaro);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}